# dependencies
node_modules

# build output
dist
build

# local env files
.env
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor junk
.DS_Store
.vscode
.idea

# vite / cache
.vite
.cache

# coverage
coverage
